@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black: #13131a;
    --bg:white;
    --border: 1rem solid rgba(110, 110, 110, 0.3);
}

*{
    font-family: "Roboto", sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar{
    width: .8rem;
}

html ::-webkit-scrollbar-track{
    background: transparent;
}

html ::-webkit-scrollbar-thumb{
    background: #87CEEB;
    border-radius: .5rem;
}

body{
    background: var(--bg);
    margin: 0;
}

section{
    padding: 2rem 7%;
}



/*Hearder section Starts*/
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.btn:hover{
    letter-spacing: .2rem;
}
.logo img{
    height: 4rem;
}

.navbar a{
    position: relative;
    margin: 0 .5rem;
    justify-content: space-between;
    text-align: center;
    font-size: 1.6rem;
    color: #070505;
}

.navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

/*Icons*/
svg{
    width: 30px;
    cursor: pointer;
    font-size: 2.5rem;
}
svg:hover{
    color: var(--main-color);
    width: 35px;
}
.iconcart{
    position: relative;
}
.iconcart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
    font-size: 1.5rem;
}
#menu-btn{ /* the menu button 3strips*/
    display: none;
}
/*Icons*/

/*Icons search form*/
.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
.header .search-form label:hover{
    color: var(--main-color);
}
/*Icons search form*/
/* Header ends*/

/*Home*/
.home{
    min-height: 100vh;
    display: grid;
    background-color: var(--bg);
    align-items: center;
    background-size: cover;
    background-position: center;
    padding-top: 9.5rem ;
}
.home .content{
    max-width: 60rem;
}
.home .content h3{
   font-size: 6rem;
   text-transform: uppercase;
   color: #fff;

}
.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}
.home .row {
    display: flex;
    align-items: center;
    background: #66c6d3;
    flex-wrap: wrap;
}
.home .row .image{
    flex: 1 1 45rem;
}
.home .row .image img{
    width: 100%;
}
.home .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.home .row .content h3{
    font-size: 3rem;
    color: #fff;
}
.home .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #080c30;
    background: var(--main-color);
    cursor: pointer;
}
/*Home ends*/




.heading{
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

/*Products section starts*/
.products .box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}
.products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}
.products .box-container .box .icons a{
height: 5rem;
width: 5rem;
line-height: 5rem;
font-size: 2rem;
border: var(--border);
color: var(--black);
margin: .3rem;
text-align: center;
}
/*Products section ends*/














/*media queries*/
@media(max-width:991px){

    html{
        font-size: 55%;
    }

    .header{padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media(max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
}

@media(max-width:450px){

    html{
        font-size: 50%;
    }

}